@model CRUD1.Models.ModelClientes

@{
    ViewData["Title"] = "Crear";
}

<h1>Nuevo Cliente</h1>

<h4> </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear" asp-controller="Clientes" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clientes_ID" class="control-label"></label>
                <input asp-for="clientes_ID" class="form-control" />
                <span asp-validation-for="clientes_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_clie" class="control-label"></label>
                <input asp-for="nombre_clie" class="form-control" />
                <span asp-validation-for="nombre_clie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido_clie" class="control-label"></label>
                <input asp-for="apellido_clie" class="form-control" />
                <span asp-validation-for="apellido_clie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cuit_dni" class="control-label"></label>
                <input asp-for="cuit_dni" class="form-control" />
                <span asp-validation-for="cuit_dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razonsocial_clie" class="control-label"></label>
                <input asp-for="razonsocial_clie" class="form-control" />
                <span asp-validation-for="razonsocial_clie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo_cliente" class="control-label"></label>
                <input asp-for="tipo_cliente" class="form-control" />
                <span asp-validation-for="tipo_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_usuario" class="control-label"></label>
                <input asp-for="id_usuario" class="form-control" />
                <span asp-validation-for="id_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listar" asp-controller="Clientes">Volver a la lista de clientes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
