@model CRUD1.Models.ModelEmpleados

@{
    ViewData["Title"] = "Crear";
}

<h1>Nuevo Empleado</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear" asp-controller="Empleados" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre_emp" class="control-label"></label>
                <input asp-for="nombre_emp" class="form-control" />
                <span asp-validation-for="nombre_emp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido_emp" class="control-label"></label>
                <input asp-for="apellido_emp" class="form-control" />
                <span asp-validation-for="apellido_emp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rol_area" class="control-label"></label>
                <input asp-for="rol_area" class="form-control" />
                <span asp-validation-for="rol_area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_usuario" class="control-label"></label>
                <input asp-for="id_usuario" class="form-control" />
                <span asp-validation-for="id_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
